# choldgraff neuro utilities
-e git+https://github.com/choldgraf/mne-spikes@master#egg=mne-spikes

# other utilities
download
nbgrader
tqdm

# auditory analysis
-e git+https://github.com/theunissenlab/soundsig@master#egg=soundsig
librosa	
